In [40]:
import pandas as pd
import numpy as np

In [41]:
# Question 1
np.__version__

'1.22.2'

In [53]:
df = pd.read_csv('data.csv')

In [54]:
# Question 2
print(len(df))

11914

In [55]:
# Question 3
print(df['Make'].value_counts())

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [56]:
# Question 4
print(df.groupby(['Make']).nunique())

               Model  Year  Engine Fuel Type  Engine HP  Engine Cylinders  \
Make
Acura             18    22                 3         27                 3
Alfa Romeo         1     2                 1          1                 1
Aston Martin      12    11                 1         13                 2
Audi              34    20                 5         40                 6
BMW               39    18                 5         37                 5
Bentley           18    12                 2         16                 2
Bugatti            1     2                 1          1                 1
Buick             20    19                 4         29                 3
Cadillac          30    25                 5         32                 3
Chevrolet         63    27                 7         68                 6
Chrysler          19    23                 3         27                 3
Dodge             33    27                 4         58                 4
FIAT               5     3                 3          4                 2
Ferrari           14    14                 1         16                 2
Ford              51    28                 5         70                 5
GMC               30    26                 3         30                 4
Genesis            1     1                 2          2                 2
HUMMER             2     3                 2          3                 2
Honda             21    20                 5         31                 3
Hyundai           22    19                 2         40                 3
Infiniti          38    25                 3         33                 3
Kia               16    10                 3         29                 4
Lamborghini        6     9                 1         12                 2
Land Rover        11    16                 5         11                 3
Lexus             46    24                 3         41                 4
Lincoln           16    21                 4         20                 3
Lotus              5     9                 2          9                 3
Maserati           8     8                 1         10                 2
Maybach            3     3                 1          4                 1
Mazda             31    26                 4         44                 2
McLaren            4     4                 1          4                 1
Mercedes-Benz     40    21                 5         56                 6
Mitsubishi        22    25                 4         30                 4
Nissan            32    20                 4         40                 4
Oldsmobile        18    15                 2         18                 3
Plymouth          10     9                 3         12                 2
Pontiac           20    19                 4         39                 3
Porsche           12    12                 3         29                 4
Rolls-Royce       10     7                 1          5                 2
Saab               8    11                 4         19                 3
Scion              8     8                 2          9                 1
Spyker             1     1                 1          1                 1
Subaru            16    17                 3         21                 3
Suzuki            16    21                 1         17                 2
Tesla              1     3                 1          0                 1
Toyota            39    22                 5         43                 4
Volkswagen        31    23                 6         27                 6
Volvo             26    24                 3         22                 3

               Transmission Type  Driven_Wheels  Number of Doors  \
Make
Acura                          3              4                2
Alfa Romeo                     1              1                1
Aston Martin                   3              1                2
Audi                           3              2                2
BMW                            4              3                2
Bentley                        1              2                2
Bugatti                        1              1                1
Buick                          1              3                2
Cadillac                       2              4                2
Chevrolet                      3              4                3
Chrysler                       3              4                2
Dodge                          3              4                3
FIAT                           3              3                2
Ferrari                        3              2                1
Ford                           4              4                3
GMC                            3              4                3
Genesis                        1              2                1
HUMMER                         2              1                1
Honda                          3              4                2
Hyundai                        3              3                3
Infiniti                       2              4                2
Kia                            4              4                2
Lamborghini                    2              2                1
Land Rover                     2              2                2
Lexus                          3              4                2
Lincoln                        1              4                2
Lotus                          1              1                1
Maserati                       3              2                2
Maybach                        1              1                1
Mazda                          2              4                2
McLaren                        1              1                1
Mercedes-Benz                  4              4                3
Mitsubishi                     4              4                3
Nissan                         4              4                3
Oldsmobile                     3              3                2
Plymouth                       2              3                3
Pontiac                        3              3                3
Porsche                        3              2                2
Rolls-Royce                    1              1                2
Saab                           2              2                2
Scion                          2              2                2
Spyker                         1              1                1
Subaru                         2              4                2
Suzuki                         2              4                2
Tesla                          1              2                1
Toyota                         4              4                3
Volkswagen                     4              4                3
Volvo                          2              3                2

               Market Category  Vehicle Size  Vehicle Style  highway MPG  \
Make
Acura                       12             2              6           17
Alfa Romeo                   1             1              2            1
Aston Martin                 2             3              3            7
Audi                        15             3              6           23
BMW                         17             3              7           27
Bentley                      7             2              3           10
Bugatti                      1             1              1            1
Buick                       10             3              6           17
Cadillac                    11             3              6           16
Chevrolet                   13             3             16           32
Chrysler                     9             3              7           15
Dodge                       13             3             15           26
FIAT                         5             1              4            9
Ferrari                      2             3              2            7
Ford                        20             3             15           30
GMC                          9             3              9           18
Genesis                      2             1              1            3
HUMMER                       4             2              2            2
Honda                        9             3              8           28
Hyundai                     10             3              6           22
Infiniti                    12             3              4           19
Kia                          7             3              6           23
Lamborghini                  2             2              2            8
Land Rover                  10             3              3           12
Lexus                       12             3              6           22
Lincoln                      6             3              5           20
Lotus                        1             1              2            4
Maserati                     4             3              4           11
Maybach                      3             1              2            1
Mazda                       10             3             11           25
McLaren                      1             1              2            2
Mercedes-Benz               16             3              8           26
Mitsubishi                   7             2             10           26
Nissan                      12             3             13           25
Oldsmobile                   1             3              6           12
Plymouth                     5             3              7           15
Pontiac                     10             3              8           19
Porsche                      9             3              5           12
Rolls-Royce                  3             1              3            4
Saab                         7             3              6           14
Scion                        2             1              5           10
Spyker                       1             1              2            1
Subaru                       7             2              7           18
Suzuki                       3             2              9           17
Tesla                        2             1              1           10
Toyota                      10             3             11           30
Volkswagen                  16             3              8           33
Volvo                        9             3              6           18

               city mpg  Popularity  MSRP
Make
Acura                13           1   208
Alfa Romeo            1           1     5
Aston Martin          6           1    86
Audi                 18           1   234
BMW                  22           1   263
Bentley               7           1    61
Bugatti               1           1     3
Buick                14           1   156
Cadillac             11           1   319
Chevrolet            27           1   934
Chrysler             11           1   153
Dodge                18           1   366
FIAT                  9           1    53
Ferrari               7           1    55
Ford                 24           1   684
GMC                  13           1   446
Genesis               3           1     3
HUMMER                2           1    15
Honda                26           1   395
Hyundai              20           1   179
Infiniti             17           1   229
Kia                  19           1   187
Lamborghini           8           1    34
Land Rover           10           1   118
Lexus                23           1   180
Lincoln              12           1   129
Lotus                 5           1    23
Maserati              8           1    45
Maybach               1           1    16
Mazda                18           1   329
McLaren               2           1     5
Mercedes-Benz        20           1   304
Mitsubishi           21           1   140
Nissan               24           1   426
Oldsmobile           10           1    67
Plymouth             13           1    16
Pontiac              15           1   136
Porsche              10           1    97
Rolls-Royce           4           1    31
Saab                 10           1    69
Scion                 8           1    53
Spyker                1           1     2
Subaru               16           1   144
Suzuki               15           1   216
Tesla                11           1    16
Toyota               30           1   585
Volkswagen           21           1   440
Volvo                12           1   170

In [57]:
# Question 5
print(df.isnull().sum())

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [58]:
# Question 6
print(df['Engine Cylinders'].median())
df = df.fillna(method='ffill')
print(df['Engine Cylinders'].median())

6.0
6.0

In [81]:
# Question 7
new_df = df.loc[df['Make']=='Lotus']
new_df = new_df[['Engine HP', 'Engine Cylinders']]
new_df = new_df.drop_duplicates()
X = new_df.values
X_trans = np.transpose(X)
XTX = np.matmul(X_trans, X)
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
XTX_inverse = np.linalg.inv(XTX)
w = np.matmul(XTX_inverse,X_trans)
w = np.matmul(w, y)
print(w[0])

4.594944810094551